/* #main_body {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: linear-gradient(snow, #ece9e6);
}
#main_card{
  background-color: snow;
} */
.home_description{
  font-size: 1.5em;
  font-weight: 500;
  font-style: italic;
}
